body {
    margin: 0;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #01050D;
    color: #e0e0e0;
    max-width: 1000px;
    margin: auto;
}

h2{
    text-align: center;
}

header {
    padding: 10px 0;
}

.head{
    justify-content: space-around;
}

.head > li{
    background-color: #091720;
    border: solid 3px #091720;
    border-radius: 20px;
    padding: 3px 10px 6px 10px;

}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin: 0 15px;
    margin-bottom: 10px;
}

a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    text-decoration: underline;
}

.banner {
    position: relative;
    text-align: center;
    padding: 20px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.main-character{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-character img {
    width: 300px;
}

.team{
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    background-color: #1a1a1a;
}

hr{
    background-color: #07141C;
    border: none;
    border-radius: 20px;
    height: 10px;
    margin: 50px 5px;
}

.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-img img{
    border-radius: 30px;
    width: 300px;
}

.icon-text{
    margin-left: 50px;
}